<!DOCTYPE html>
<html lang="en" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Term-Conditions</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/mobiriseicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.css">	
</head>

    <body>

        <!-- START NAVBAR -->
        <nav class="contactnav navbar navbar-expand-lg fixed-top custom_nav_menu sticky">
            <div class="container">
                <!-- LOGO -->
                <h3 class="navbar-brand logo text_custom">
                   Multiple Choice Online
                </h3>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Online Tests</a>
                        </li>
                        <li class="nav-item">
                            <a href="aboutus.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="contactus.html" class="nav-link">Contact Us</a>
                        </li>
                     
                        <li class="nav-item active">
                            <a href="pricing.html" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="faq.html" class="nav-link">Faq</a>
                        </li>
                <li class="nav-item">
                    <a href="referral.html" class="nav-link">Referral</a>
                </li>
             
                    </ul>
                    <a href="login.html" class="btn_custom btn btn_small text-capitalize navbar-btn">Login / Sign Up</a>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->



		
    <div class="contactslider slider-area">
        <div class="page-title">
            <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider-content slider-content-breadcrumb text-center">
                                <h1 class="white-color f-700">Term & Conditions</h1>
                                <nav class="text-center" aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Term & Conditions</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>		

<section class="privacy-policy-section section_all bg-light" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="privacy-policy-text">
                         <h2>Term & Conditions</h2>
						 <h4>Updated July 12, 2018</h4>
						 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                        </div>
                    </div>
					
                    <div class="col-lg-12 mt-3">
                        <div class="privacy-policy-text">
                         <h3>Use Of Your Information</h3>
						 <div class="features_border_top mt-0"></div>
						 <p>Wiley may use your personal information in the performance of any contract we enter into with you, to comply with legal obligations, or where Wiley has a legitimate business interest in using your information to enhance the services and products we provide. Legitimate business purposes include but are not limited to one or all of the following: providing direct marketing and assessing the effectiveness of promotions and advertising; modifying, improving or personalizing our services, products and communications; detecting fraud; investigating suspicious activity (e.g., violations of our Terms of Service, which can be found here) and otherwise keeping our site safe and secure; and conducting data analytics.</p>
						
						<ul class="list-unstyled">
						 <li>In addition, we may use your information in the following ways (after obtaining your consent, if required):
						 <ul class="mt-2">
						 <li>To provide you with information about products and services that you request from us;</li>						 
						 <li>To send you periodic catalogues from Wiley;</li>
						 <li>To provide you with information about other products, events and services we offer that are either (i) similar to those you have already purchased or inquired about, or (ii) entirely new products, events and services;</li>
						 <li>For internal business and research purposes to help enhance, evaluate, develop, and create Wiley websites (including usage statistics, such as “page views” on Wiley’s websites and the products therein), products, and services;</li>
						 <li>To notify you about changes or updates to our websites, products, or services;</li>
						 <li>To administer our services and for internal operations, including troubleshooting, data analysis, testing, statistical, and survey purposes;</li>
						 <li>To allow you to participate in interactive features of our service; and</li>
						 <li>For any other purpose that we may notify you of from time to time.</li>
						 
                         </ul></li>						
						</ul>
						<p>In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you to register for an account by completing and submitting a registration form, which may request additional information.</p>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-3">
                        <div class="privacy-policy-text">
                         <h3>Recourse</h3>
						 <div class="features_border_top mt-0"></div>
						 <p>Any comments, complaints or questions concerning this policy or complaints or objections about our use of your personal information should be addressed by directing your comments to Wiley’s Data Protection Officers, whose contact information is found here.</p>

						<p>In relation to personal data processed within the US, Wiley has in place EU Model Clauses between entities within its group of companies that receive and process personal information from countries within the European Economic Area and has further committed to refer unresolved privacy complaints to an independent dispute resolution mechanism, the ICDR/AAA. If you do not receive timely acknowledgment of your complaint, or if your complaint is not satisfactorily addressed by Wiley, please use the following processes which are made available by Wiley at no cost to you.</p>
                        </div>
                    </div>						
					
                </div>
            </div>
</section>
	
        <!-- Start Footer -->
        <footer class="footer_detail">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-lg-12">
                        <div class="text-center footer_about">
                            <h3 class="text_custom">Multiple Choice Online</h3>
                            <p class="mx-auto mt-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                        </div>
                        <div class="text-center subcribe-newslatter mt-5">
                            <form class="mx-auto position-relative">
                                <input type="email" placeholder="Enter Your Email" required="">
                                <button type="submit" class="btn btn_custom">Subcribe</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="fot_bor"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class=" text-center">
                            <p class="text-white mb-0">2018 &copy; Multiple Choice Online. Design by Indi IT Solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top Up Arrow Start -->
        <a href="#" class="back_top_angle_up" style="display: inline;"> 
            <i class="mbri-arrow-up"> </i>
        </a>
        <!-- Back To Top Up Arrow End -->

        <!-- JAVASCRIPTS -->
       <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!--TESTISLIDER JS-->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
      
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>